Django==5.2.3
django-markdownx==4.0.3
django-allauth[socialaccount]==65.9.0
django-allauth-simple-ui==0.1.2
django-bootstrap5
django-feather==0.3.0
django-recurrence==1.11.1
django-q2==1.7.6
uvicorn
gunicorn
honcho
