h1 {
    font-family: "Junction Bold", sans-serif;
}
h2 {
    margin-bottom: 0;
    font-family: "Junction Bold", sans-serif;
    font-size: 1.4rem;
}

.item-title {
    flex-grow: 1;
    margin-right: 5px;
}

.li-button-container button {
    align-self: center;
}

.li-buttons-right form {
    display: flex;
}

.sidebar {
    display: inline-block;
    background: #c1c8df;
    /*height: 100vh;*/
    width: 30%;
    overflow: scroll;
    padding: 0.5rem;
}
.sidebar .list-item button:not(.check) {
    margin-top: auto;
    margin-bottom: 0;
    width: fit-content;
}

.list {
    display: flex;
    flex-direction: column;
    background: #c1c8df;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    overflow: scroll;
    gap: 0.5rem;
}

.list-item {
    background: #e7e3e8;
    min-height: fit-content;
    margin: 0;
    /*margin-bottom: 5px;*/
    border: 1px solid gray;
    padding: 5px;
    padding-left: 1rem;
    padding-bottom: 0;
    padding-right: 0;
    border-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    /*box-shadow: 0 0 2px 0 #000000;*/
}

.list-item  .li-internal {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-bottom: 5px;
    gap: .5rem;
}

.list-item > :nth-child(2).li-internal {
    display: none;
}

.list-item.details > :nth-child(2){
    display: flex;
}

.list-item .edit-button {
    opacity: 0;
    transition: opacity 100ms;
    display: inline;
}

.list-item.details .edit-button,
h2:hover .edit-button {
    opacity: 1;
    transition: opacity 100ms;
}


.list-item .li-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
    height: inherit;
}

.list-item .li-left .buttons {
    display: flex;
    margin-top: .5rem;
    gap: .5rem;
}

.li-left > h2 {
    display: flex;
    flex-direction: row;
}

.list-item.completed {
    background-color: #c2bdca;
    color: #4b4a67;
}

.list-item.completed h2 {
    margin-bottom: 0;
}

.list-item.completed .li-button-container {
    display: none;
}

.list-item .li-button-container {
    display: flex;
    flex-direction: row;
}

.list-item .li-buttons-right {
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 auto;
}

.list-item .list-item {
    margin: 0;
    margin-left: 5px;
    margin-right: 0px;
    padding-top: 5px;
    border-bottom: 0;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 0;
    padding-bottom: 0;
    height: fit-content;
    box-shadow: none;
}

.list-item .list-item:not(:last-child) {
    border-bottom-right-radius: 0;
}

.list-item .list-item ~ .list-item {
    border-top-left-radius: 0;
}

.list-item.add-button {
    text-align: center;
    font-size: x-large;
    width: 100%;
    align-self: center;
    display: inline-block;
    padding: 1rem;
    height: fit-content;
}

.main-body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-container {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
}

.edit-button,
.check {
    background: transparent;
    border: 0;
    font-size: x-large;
    margin: 0 10px 0 auto;
    align-self: center;
}

.edit-button {
    margin: 0;
}

@media screen and (max-width: 1100px) {
    #body {
        width: 100%;
        overflow: clip;
    }
    .content-container {
        display: block;
    }
    .list-item .li-buttons-right {
        display: none;
    }
    .list-item.details .li-buttons-right {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .list,
    .sidebar {
        position: absolute;
        top: 75px;
        width: 100%;
        height: calc(100dvh - 75px);
    }
    #body.show-list .sidebar {
        transform: translateX(-100%);
        transition: transform 300ms;
    }
    #body.show-sidebar .sidebar {
        transform: translateX(0);
        transition: transform 300ms;
    }
    #body.show-sidebar .list {
        transform: translateX(100%);
        transition: transform 300ms;
    }
    #body.show-list .list {
        transform: none;
        transition: transform 300ms;
    }

    #listdisplay .li-internal {
        flex-wrap: wrap;
    }

    .li-button-container {
        margin-left: auto;
    }

    button.check {
        margin-left: 0;
    }
}

.field-container textarea,
.field-container input,
button {
    width: fit-content;
    min-width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    padding-top: 3px;
    height: 30px;
    border: 1px solid gray;
    display: block;
    white-space: nowrap;
    background: #dad3e8;
    transition: background-color 100ms;
}

.field-container textarea {
    height: 5rem;
}

.field-container input[type=checkbox] {
    /*height: 1.5rem;*/
    /*width: 1.5rem;*/
    accent-color: #cbbfd5;
}

.recurrence-widget:not(#specificity-hack) {
    max-width: fit-content;
    background: #e7e3e8;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border: 1px solid gray;
}

.recurrence-widget input {
    display: inline;
}

.field-container input:hover,
button:hover {
    background: #cbbfd5;
    transition: background-color 100ms;
}

.li-buttons-right button {
    margin-left: 10px;
}

.li-buttons-right button > svg.red {
    color: #c50000;
}

.li-buttons-right button > svg {
    color: gray;
    height: 1.5em;
    vertical-align: middle;
}

.new-item-button {
    position: fixed;
    bottom: 80px;
    right: 40px;
    height: 80px;
    width: 80px;
    background: #dad3e8;
    border: 1px solid gray;
    border-radius: 1.5rem;
    /*box-shadow: 0 0 2px 0 #000000;*/
}

.new-item-form-container svg {
    vertical-align: middle;
}

.new-item-button.expanded {
    margin-top: auto;
}

.new-item-button > h2 {
    margin-left: 10px;
}

.new-item-button.expanded {
    width: fit-content;
    padding-right: 10px;
}

.new-item-input {
    background: #f1f1f1;
    border: 2px solid gray;
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    outline: 0;
    padding: 10px;
    margin-left: 10px;
}

.new-item-form-container {
    display: flex;
    flex-direction: row;
}

.list-item .new-item-form-container > .new-item-input {
    margin-left: 0;
}

.details-container {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.field-container {
    margin-bottom: 5px;
    margin-top: 5px;
    /*width: 100%;*/
    gap: 5px;
    display: flex;
    flex-direction: column;
}

li:has(.htmx-request) {
    opacity: 60%;
    transition: opacity 200ms;
}

li:not(:has(.htmx-request)) {
    opacity: 1;
    transition: opacity 200ms;
}

li .submit-button {
    margin-left: auto;
    margin-top: auto;
    display: block;
    margin-bottom: 5px;
    margin-right: 5px;
}

#listdisplay {
    padding-bottom: 10rem;
}