* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "sans-serif";
}

h2 {
    margin-bottom: 5px;
}

.sidebar {
    display: inline-block;
    background: aqua;
    height: 100vh;
    width: 30%;
    overflow: scroll;
    padding: 6px;
}

.sidebar .list-item button:not(.check) {
    margin-top: auto;
    margin-bottom: 0;
    width: fit-content;
}

.sidebar a {
    color: black;
    text-decoration: 0;
}

.list {
    display: flex;
    flex-direction: column;
    background: #d3bfe0;
    height: 100vh;
    width: 70%;
    padding: 6px;
    margin: 0;
    overflow: scroll;
}

.list-item {
    background: aliceblue;
    min-height: fit-content;
    margin: 0;
    margin-bottom: 5px;
    border: 2px solid gray;
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 0;
    padding-right: 0;
    border-radius: 10px;
    margin-top: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 0 #000000;
}

.list-item  .li-internal {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.list-item > :nth-child(2).li-internal,
.list-item .edit-button {
    display: none;
}

.list-item.details > :nth-child(2),
.list-item.details .edit-button,
h2:hover .edit-button {
    display: flex;
}

.list-item .li-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
    height: inherit;
}

.li-left > h2 {
    display: flex;
    flex-direction: row;
}

.list-item.completed {
    background: darkgrey;
    color: grey;
}

.list-item .li-button-container {
    display: flex;
    flex-direction: row;
}

.list-item .li-buttons-right {
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 auto;
}

.list-item .list-item {
    margin: 0;
    margin-left: 5px;
    margin-right: 0px;
    padding-top: 5px;
    border-bottom: 0;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 0;
    padding-bottom: 0;
    height: fit-content;
    box-shadow: none;
}

.list-item .list-item ~ .list-item {
    border-top-left-radius: 0;
}

.list-item.add-button {
    text-align: center;
    font-size: x-large;
    width: 100%;
    align-self: center;
    background: yellow;
}

.main-body {
    margin: 0;
    display: flex;
}

.edit-button,
.check {
    background: transparent;
    border: 0;
    font-size: x-large;
    margin: 0 10px 0 auto;
    align-self: center;
}

.edit-button {
    margin: 0;
}

@media screen and (max-width: 1100px) {
    .sidebar {
        width: 100%;
        visibility: hidden;
        display: none;
    }
    .list {
        width: 100%;
    }
    .list-item .li-buttons-right {
        display: none;
    }
}

button {
    width: available;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    height: 30px;
    border: 2px solid gray;
    display: block;
}

.li-buttons-right > button {
    margin-left: 10px;
}

.li-buttons-right > button > svg.red {
    color: #c50000;
}

.li-buttons-right > button > svg {
    color: gray;
    height: 1.5em;
    vertical-align: middle;
}

.new-item-button {
    position: fixed;
    bottom: 80px;
    right: 40px;
    height: 80px;
    width: 80px;
    background: lightgray;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 #000000;
}

.new-item-form-container svg {
    vertical-align: middle;
}

.new-item-button.expanded {
    margin-top: auto;
}

.new-item-button > h2 {
    margin-left: 10px;
}

.new-item-button.expanded {
    width: fit-content;
    padding-right: 10px;
}

.new-item-input {
    background: #f1f1f1;
    border: 2px solid gray;
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    outline: 0;
    padding: 10px;
    margin-left: 10px;
}

.new-item-form-container {
    display: flex;
    flex-direction: row;
}

.list-item .new-item-form-container > .new-item-input {
    margin-left: 0;
}

.details-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    padding: 0;
    grid-gap: 0;
    align-items: start;
    width: 100%;
}

.details-container > div {

}

.details-container .field-container {
    margin-bottom: 5px;
    margin-top: 5px;
}

.field-container > h4 {
    color: gray;
}