* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sidebar {
    display: inline-block;
    background: aqua;
    height: 100vh;
    width: 30%;
    overflow: scroll;
    padding: 6px;
}

.list {
    display: flex;
    flex-direction: column;
    background: #d3bfe0;
    height: 100vh;
    width: 70%;
    padding: 6px;
    margin: 0;
    overflow: scroll;
}

.list-item {
    background: aliceblue;
    min-height: 50px;
    margin: 0;
    margin-bottom: 5px;
    border: 1px solid black;
    padding: 5px;
    padding-bottom: 0;
    border-radius: 5px;
    margin-top: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.list-item .li-internal {
    display: flex;
    flex-direction: row;
}

.list-item.completed {
    background: darkgrey;
    color: grey;
}

.list-item .li-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
}

.list-item .li-button-container {
    display: flex;
    flex-direction: row;
}

.list-item .li-buttons-left {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
    padding-right: 10px;
}

.list-item .list-item {
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 5px;
    border-bottom: 0;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.list-item .list-item ~ .list-item {
    margin-top: 0;
}

.list-item.sidebar {
    background: antiquewhite;
    height: auto;
}

.list-item.add-button {
    text-align: center;
    font-size: x-large;
    width: 100%;
    align-self: center;
    background: yellow;
}

.list-item .new {
    /*display: none;*/
}

.main-body {
    margin: 0;
    display: flex;
}

.star-button {
    float: right;
    margin-right: 5px;
    background: transparent;
    border: 0;
}

.star-button .fa-solid {
    color: #ffd500;
}

.check {
    background: transparent;
    border: 0;
    font-size: x-large;
    margin: 0 10px 0 auto;
    align-self: center;
}

@media screen and (max-width: 1100px) {
    .sidebar {
        width: 100%;
        visibility: hidden;
    }
    .list {
        width: 100%;
    }
}
