<!DOCTYPE html>
<html lang="en">
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" type="text/css" href="{% static 'core/core.css' %}">
<script src="https://unpkg.com/htmx.org@1.6.1"></script><!--integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>-->

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Effort!</title>
    </head>
{% endblock %}

<body id="core-body" class="main-body" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block navbar %}
    {% endblock %}
    <div class="content-container">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>