* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "sans-serif";
}

.navbar {
    height: 75px;
    background: #b37bff;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 2px 0 #000000;
}

.nav-container.left {
    margin: 0 auto 0 10px;
    align-self: center;
}

.nav-container.right {
    margin: 0 10px 0 auto;
}

.nav-container.center {
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}