<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'lists/style.css' %}">
<script src="https://unpkg.com/htmx.org@1.6.1"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
<script src="{% url 'jsi18n' %}"></script>

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Lists!</title>
    </head>
{% endblock %}

<body id="body" class="main-body" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-boost="false"  >
    {% block navbar %}
    {% endblock %}
    {% block body %}
    {% endblock %}
</body>
</html>