<!DOCTYPE html>
<html lang="en">
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'lists/style.css' %}">
<script src="https://unpkg.com/htmx.org@1.8.4"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
<script src="{% url 'jsi18n' %}"></script>

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Lists!</title>
    </head>
{% endblock %}

<body id="body" class="main-body show-list" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-boost="false"  >
    {% block navbar %}
    {% endblock %}
    <div class="content-container">
        {% block body %}
        {% endblock %}
    </>
</body>
</html>