{% load icon %}
<div class="new-item-button expanded" id="newitem">
    <h2>New Item</h2>
    <div class="new-item-form-container">
        <form method="post" action="{% if parent %}
                                        {% url "new-item" list_pk=list_pk parent_item_pk=parent.pk %}
                                    {% elif item_pk %}
                                        {% url "edit-item" item=item_pk list_pk=list_pk%}
                                    {% else %}
                                        {% url "new-item" list_pk=list_pk %}
                                    {% endif %}">{% csrf_token %}
            {{ list.pk }}
            {{ form.name }}
            <label>
                <input type="submit" value="Submit" hidden>
                {% icon "corner-down-left" %}
            </label>
            <input type="hidden" name="parent_pk" value="{{ parent.pk }}">
            {{ form.errors }}
        </form>
    </div>
</div>