{% load icon %}
<ul class="list" id="listdisplay" data-list-pk="{{ current_list.pk }}">
    {% if current_list %}
        {% for item in current_list.unchecked %}
            {% include 'lists/list-item.html' with item=item list_pk=current_list.pk %}
        {% endfor %}
            <div id="newitem" hidden></div>
        {% for item in current_list.checked %}
            {% include 'lists/list-item.html' with item=item list_pk=current_list.pk %}
        {% endfor %}
    {% else %}
        <div class="list-item">Select a List to get started</div>
    {% endif %}
</ul>
{% if current_list %}
    <div class="new-item-button" id="new-item-button-container" data-list-pk="{{ current_list.pk }}">
        <button class="new-item-button" id="newitem" hx-trigger="click" hx-get="{% url 'item-edit' %}" hx-select="#newitem" hx-swap="outerHTML">
            {% icon "plus" %}
        </button>
    </div>
{% endif %}