{% load lists_extras %}
{% load icon %}
<ul class="sidebar" id="sidebar">
    {% for todo in starred_todo_lists %}
        {% list_selection_display todo current_list request %}
    {% endfor %}
    <hr>
    {% for todo in todo_lists %}
        {% if todo in starred_todo_lists %}
        {% else %}
            {% list_selection_display todo current_list request %}
        {% endif %}
    {% endfor %}
    <button class="list-item add-button" value="New Sublist" hx-trigger="click" hx-get="{% url "list-edit" %}" hx-swap="outerHTML">
        {% icon "plus" %}
    </button>
</ul>