{% load lists_extras %}
{% load icon %}

<form id="item-details-{{ item.pk }}" class="details-container" method="post" action="{% url 'item-details' item.pk %}">
    {% csrf_token %}
    <input type="hidden" name="current_list_pk" _="on load set my @value to @data-list-pk of #listdisplay">
{#    <div>#}
{#        <div class="field-container">#}
{#            <h4>Details:</h4>#}
{#            {{ form.details }}#}
{#        </div>#}
{#    </div>#}
{#    Removed Details; it was causing styling headaches and isn't very useful. TODO: Allow linking to a note instead.#}
    <div class="field-container">
        <h4>Due date:</h4>
        {{ form.due_date }}
    </div>
    <div class="field-container">
        <h4>Uncheck on a schedule:</h4>
        <textarea name="uncheck_every" cols="40" rows="10" class="recurrence-widget" id="id_uncheck_every{{ item.pk }}">{{ form.uncheck_every.value }}</textarea>
    </div>
    <div class="field-container">
        <input type="submit" class="submit-button" value="Submit Item Edits">
    </div>
</form>