{% load lists_extras %}
{% load icon %}
<ul class="sidebar" id="sidebar">
    {% for todo in request.user.todo_lists.all %}
        {% if request.user in todo.starred.all and not todo.parent %}
            {% list_selection_display todo current_list request %}
        {% endif %}
    {% endfor %}
    <hr>
    {% for todo in request.user.todo_lists.all %}
        {% if request.user not in todo.starred.all and not todo.parent %}
            {% list_selection_display todo current_list request %}
        {% endif %}
    {% endfor %}
    <button class="list-item add-button" value="New Sublist" hx-trigger="click" hx-get="{% url "list-edit" %}" hx-swap="outerHTML">
        {% icon "plus" %}
    </button>
</ul>