{% load lists_extras %}
{% load icon %}

<form id="item-details-{{ item.pk }}" class="details-container" method="post" action="{% url 'item-details' item_pk=item.pk %}">
    {% csrf_token %}
    {{ form.media }}
    <div>
        <div class="field-container">
            <h4>Details:</h4>
            {{ form.details }}
        </div>
    </div>
    <div>
        <div class="field-container">
            <h4>Due Date:</h4>
            {{ form.due_date }}
        </div>
        <div class="field-container">
            <h4>Configure repetition in admin due to bugs</h4>
            <input type="submit" class="submit-button" value="Submit Item Edits">
        </div>
    </div>
</form>