{% load icon %}
<ul class="list" id="listdisplay" data-list-pk="{{ todo.pk }}" _="on load js function thing() {initRecurrenceWidget();}; thing() end">
    {% if todo %}
        {% for item in todo.unchecked %}
            {% include 'lists/list-item.html' with item=item list_pk=item.list.first.pk %}
        {% endfor %}
        {% if todo.children.all %}
            {% for child_list in todo.children.all %}
                {% for item in child_list.unchecked %}
                    {% include 'lists/list-item.html' with item=item list_pk=item.list.first.pk %}
                {% endfor %}
            {% endfor %}
        {% endif %}
            <div id="newitem" hidden></div>
        {% if show_checked %}
            <a href="?showchecked=0" hx-get="?showchecked=0" hx-select="#listdisplay" hx-target="#listdisplay" hx-swap="morph:outerHTML">Hide Checked Items</a>
        {% else %}
            <a href="?showchecked=1" hx-get="?showchecked=1" hx-select="#listdisplay" hx-target="#listdisplay" hx-swap="morph:outerHTML">Show Checked Items</a>
        {% endif %}
        {% if show_checked %}
            {% for item in todo.checked %}
                {% include 'lists/list-item.html' with item=item list_pk=item.list.first.pk %}
            {% endfor %}
        {% endif %}
    {% else %}
        <div class="list-item">Select a List to get started</div>
    {% endif %}
    {% if todo and not todo_is_starred %}
        <div class="new-item-button" id="new-item-button-container" data-list-pk="{{ todo.pk }}">
            <button class="new-item-button" id="newitem" hx-trigger="click" hx-get="{% url 'item-create' %}" hx-select="#newitem" hx-swap="outerHTML">
                {% icon "plus" %}
            </button>
        </div>
    {% endif %}
</ul>