{% load lists_extras %}
<div class="sidebar">
    {% for list in starred_lists %}
        {% list_selection_display list current_list request %}
    {% endfor %}
    <hr>
    {% for list in lists %}
        {% if list in starred_lists %}
        {% else %}
            {% list_selection_display list current_list request %}
        {% endif %}
    {% endfor %}
    <button class="list-item add-button" value="New Sublist" id="newitem" hx-trigger="click" hx-get="{% url "new-list" %}" hx-swap="outerHTML">
        +
    </button>
</div>