<!--Display a quick-access button to add a given item to another list-->
{% load icon %}
<form>
    <input type="hidden" name="item_pk" _="on load set my @value to @data-item-pk of closest parent <li/>">
    <input type="hidden" name="current_list_pk" _="on load set my @value to @data-list-pk of #listdisplay">
    <input type="hidden" name="list_pk" value="{{ list.pk }}">
    <button hx-trigger="click" hx-post="{% url 'toggle-list-on-item' %}" hx-swap="outerHTML" hx-select="button">
        {% if enabled %}
            {% icon "plus-circle" %}
        {% else %}
            {% icon "x-circle" class="red" %}
        {% endif %}
        {{ list.short_title }}
    </button>
</form>